:root {
    --primary-color: #397367;
    --secindary-color: #13293D;
    accent-color: #E3B23C;
    accent-color: #ED6A5A;
}

head {
    font-family: "Changa", system-ui;
    color: orange;
}

header {
    font-family: "Cabin", system-ui;
    color: blue;
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: #397367e8;
}

img {
    margin: 0 0.25rem 0 1rem;
    width:  150px;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

div {
    position: sticky;
}

h1 {
    position: sticky;
    top: auto;
    font-size: 2rem;
    font-family: "Cabin", system-ui;
}

nav.navigation {
    text-align: end;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: #13293D;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: #ED6A5A;
    font-weight: 700;
    text-decoration: underline;
}

section.history {
    background-color: #397367;
    color: #E3B23C;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: nowrap;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: #ED6A5A;
    color: #000;
    font: italic smaller sans-serif;

}

.adventure img {
    max-width: 220px;
    max-height: 200px;
}

article {
    position: absolute;
    top: auto;
}

div.hero {
    background-color: #397367;
    position: relative;
    height: fit-content;
}

.hero > img {
    display: inline;
    width: 100%;
    height: auto;
}

.hero > article {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    font-size: 100%;
    font-family: Changa;
    background-color: #13293d86;
}

.hero > h1 {
    position: absolute;
    width: 100%;
    top: 0;
    text-align:center;
    color:beige;
    background: #138f8486;
}

.hero > article > img {
    float: right;
    width: 10%;
    height: auto;
}

nav.sociallinks {
    text-align: left;
}

.sociallinks img {
    width: 100px;
    height: auto;
}

div.contact {
    background-color: #39736785;
    text-align: center;
    border: #000;
}

.contact img{
    height: 300px;
    width: 750px;
}

div.banner-box1 {
    border: #000;
    padding: 5px;
    flex-flow: nowrap;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
}
form {
    text-align: center;
}

label {
    text-align: center;
}

.map iframe {
   top: 465px;
   left: 348px;
}

p-40 {
    width: 164px;
    height: 420px;
    color: #798DA3;
    font-family: "Cabin", system-ui;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
  }

  main {
    margin: auto;
    height: fit-content;
  }
  
  form {
    width: 500px;
  }